body {
    background: #272727;
    color: #fff;
}

.alert{
    padding-top: 2%;
    padding-left: 10%;
}

.alert:hover{
    transform: scale(1.02);
    transition: all .6s ease;
}

.contentnews{
    padding-top: 10px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.navbar {
  height: 100px;
  background-color: #E88914  !important;
}

.navbar-nav {
  margin-left: auto;
  font-weight: bold;
}

.navbar-nav li:hover, a:hover{
    color: #4d4d4d !important;
    transform: scale(1.05);
    transition: all .3s ease;
}

.nav-link {
  color: #ffffff !important;
}

.btn.btn-outline-success.my-2.my-sm-0 {
    color: white;
    border-color: white;
    background-color: #272727;
}
.btn.btn-outline-success.my-2.my-sm-0:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

.btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}
