{% extends 'main/sample.html' %}
{% load static%}

{% block title%}Новости{% endblock %}


{% block content %}
    <div class='alert2' style="padding-right: 20%;">
        <h1>{{ article.title }}</h1>
        <p>{{ article.anons}}</p>
        <p>{{article.full_text}}</p>
        <p>{{article.date}}</p>
        <div class="text-center">
            <button class="btn mt-3" style="background-color: darkorange; color: white;" onclick="location.href='/news';">Назад</button>
        </div>
    </div>

{% endblock %}