{% extends 'main/sample.html' %}
{% load static%}

{% block title%}Шизоnews{% endblock %}

{% block content %}
    <div class="contentnews">
        <h1>О сайте</h1>
        <p>Наш сайт - это уникальная площадка, которая в прямом смысле слова "оживляет" искусственный интеллект. Мы используем нейросети для создания самых неожиданных, остросюжетных и забавных сатирических новостей.

На основе обучения на больших объемах данных, наша нейросеть способна составлять сатирические новости, которые порой заставляют нас улыбнуться, а иногда и задуматься. Технологии машинного обучения позволяют нам создавать новый контент, который выглядит настолько реалистично, что его сложно отличить от настоящих новостей.

Мы гордимся тем, что можем предложить посетителям нашего сайта уникальный контент, оставайтесь с нами и наслаждайтесь сатирическим юмором от нашего искусственного интеллекта! Все новости на сайте являются вымышленными и созданы исключительно для развлечения.</p>
                <div class="text-center">
            <button class="btn mt-3" style="background-color: darkorange; color: white;" onclick="location.href='/news';">Перейти к новостям</button>
        </div>
    </div>
{% endblock %}