{% extends "shopaap/base.html" %}

{% block title %}
    products
{% endblock %}

{% block content %}
<a href="{% url 'create_product' %}">Создать продукт</a>
    <h1>Products:</h1>
    {% if products %}
        <div>
            {% for product in products %}
                <div>
                    <a href="{% url 'product_detail' pk=product.id %}">Name: {{ product.name }}</a>
                    <p>Price: {{ product.price }}</p>
                    <p>Discount: {% firstof product.discount 'no discount' %}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No products yet</h3>
    {% endif %}
{% endblock %}